* {
   
}

.carouselExampleCaptions {
    background-color: rgb(0, 0, 0);
}

.carousel .carousel-item {
    height: 350px;
}

.container-fluid {
    text-align: center;
      padding-left: 650px;
      
}




.navbar a {
    color: rgb(0, 0, 0);
}

.intro {
        position: absolute;
        top: 65%;
        left: 9%;
        transform: translateY(-50%);
        color: white;
       
}

